.section {
  width: calc(100% - 32px);
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #1f1f1f;
  margin: 0 auto;
  margin-top: 24px;

  border-radius: 6px;

  & h3 {
    font-size: 1.6rem;
    font-weight: 600;
    width: 100%;
    padding-bottom: 6px;
    text-align: left;
    padding-left: 8px;
    border-bottom: 2px solid #2f2f2f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
  }

  & h3 span {
    display: block;
    min-width: 200px;
  }

  & .controllers {
    display: flex;

    gap: 8px;

    & button {
      width: 36px;
      height: 36px;
      background: transparent;
      border: 1px solid #1f1f1f;
      cursor: pointer;
      border-radius: 8px;
      color: #aaa;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: #101010;
        color: #ededed;
      }
    }
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;

  & th,
  & td {
    padding: 12px 8px;
    text-align: left;
    border-bottom: 1px solid #0f0f0f;
    text-transform: capitalize;
    min-height: 38px;
  }

  & th {
    font-weight: 400;
  }

  & tbody tr:hover {
    background-color: #1c1c1c;
  }

  & th {
    background-color: #101010;
    color: #f2f2f2;
  }

  & td[data-type="date"] {
    display: flex;
    gap: 4px;
  }
}

.empty_table_message {
  width: 100%;
  color: #aaa;
  text-align: center;

  &:empty {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .section {
    width: calc(100% - 24px);
    padding: 16px 6px;

    & h3 {
      font-weight: 500;
      font-size: 1.5rem;
    }
  }


  .table {

    & th,
    & td {
      font-size: 1.2rem;
      padding: 6px 4px;
    }

    & td[data-type="date"] span:first-child {
      display: none;
    }

    & th[data-header-type="heart"],
    & th[data-body-type="heart"] {
      max-width: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  }

  .empty_table_message {
    font-size: 1.2rem;
  }
}